		/* #background{
	nhom block co thuoc tinh width,height,background
	 background-image: url('top-nhung-hinh-che-vui-hai-huoc-nhat-12.jpg'); 
	background-color: red;
	background-repeat:no-repeat;
	background-attachment: scroll;
	background-position: 10px 50px; 
	width: 100%;
	height: 1000px;
	viet tat color - image - repeat - position - attachment
	background:red url('top-nhung-hinh-che-vui-hai-huoc-nhat-12.jpg') no-repeat 10px 50px scroll
	font-family: Arial;
	font-size: 30px;30pt 
	font-style: normal;
	font-weight: 900;
	color: blue;
	text-indent: 50px;
	text-align: right;
	 letter-spacing: 10px; 
	text-decoration: none; 
}
a{
	text-decoration: none;
}
#display{
	display: block;
}
h1:hover{
	color: yellow;
	height: 100px;
	width: 30%;
}
div{
	height: 50px;
	width: 100%;
	background-color: blue;
} */


}
#hearder{
	width: 100%;
	height: 100px;
	background-color: red;
	clear: both; 
	overflow: auto;
	/* hidden scroll */
}
#left{
	width: 20%;
	height: 800px;
	background-color: transparent ; 
	float: left;
}
#main{
	width: 60%;
	height: 800px;
	float: left;
	background-color: blue; 
}
#right{
	width: 20%;
	height: 800px; 
	float: right;
	background-color: transparent; 
}
#footer{
	width: 100%;
	height: 100px;
	background-color:green; 
	clear: left;
}