*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
.full{
	width: 100%;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.left{
	float:left;
}
.right{
	float: right;
}
#magazine{
	height: 30px;
	background-color: black;
}
#logo{
	height: 80px;
	background-color: orange;

}
#menu{
	height: 50px;
	background-color: red;
}
#truy-cap-nhanh li{
	float: left;
	padding: 3px;
	text-transform: uppercase;
	font-size: 13px;

}
#truy-cap-nhanh a{
	color: white !important;
}
#truy-cap-nhanh .fa-star{
	color: orange;
	margin-right: 4px;
}
#search{
	position: relative;
}
#search .fa-search{
	position: absolute;
	top: 6px;
	left: 142px;
}
#search input{
	margin-top: 5px; 
}
#logo img{
	width: 80px;
	height: 80px;
	background-color: #f0a52b;
}
#logo ul{
	margin: 15px 20px;
}
#logo ul li{
	padding: 5px;
	float: left;
	line-height: 25px;
	height: 25px;
	border: 1px solid white;
	border-radius: 10px;
}
#logo a,#menu a,#truy-cap-nhanh a{
	color: white !important;

}
#menu li{
	float: left;
	padding: 15px;
}
#menu li:hover{
	background-color: red;
}
#grey{
	background-color: #ccc;
	height: 30px;
}
#tin-tuc{
	margin-top: 10px;
	width: 70%;
}
#ads{
	margin-top: 10px;
	width: 30%;
}
#tin-nong .left img{
	width: 525px;
	height: 350px;
}
#tin-nong .right img{
	width: 240px;
	height: 350px;
}
#tin-nong .left{
	width: 70%;
}
#tin-nong .right{
	width: 30%;
}
#tin-lien-quan{
	height: 250px;
	clear: both;
}
#tin-lien-quan img{
	width: 100%;
	height: 200px;
}
.p-3{
	width: 32%;
	float: left;
}
#tin-nong h2,#tin-nong h4,#tin-lien-quan h4{
	text-align: justify;
}
.middle{
	margin-left: 13px;
	margin-right: 13px;
}
.left > img{
	height: 80px;	
}