body{
	background-image: url('bg.jpg');
	background-size: 100%;
}
.header{
	width:75%;
}
.header>h2{
	width:20%;
	float: left;
}
.header-right{
	float: right;
}
.header-right> p{
	display: inline-block;
	padding: 10px;
}
.header-right> button{
	display: inline-block;
	padding: 10px;
}
.clear{
	clear:both;
}
.content{
	width:75%;
}
.content> ul{
	list-style: none;
	float: left;
	width: 20%
}
.content> ul >li{
	padding: 10px 0px;
}
.content-right{
	float: left;
	width: 75%;
}
.technew{
	width: 30%;
	display: inline-block;
	background-color: #e1dddd;
	position: relative;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 20px;
}
.technew>img{
	width: 100%;

}
.themes{
	position: absolute;
	bottom: 0;
	background-color: #766f6f;
	margin: 0;
	width:100%;
	padding: 10px 0px;
	border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.footer > ul{
	list-style: none;

}
.footer > ul>li{
	display: inline-block;
	padding: 10px 10px;
}